:80 {
  header {
    X-Frame-Options "SAMEORIGIN"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
    Permissions-Policy "camera=(), microphone=(), geolocation=()"
    -Server
  }

  handle /api/* {
    reverse_proxy api:3000
  }

  handle {
    encode zstd gzip
    reverse_proxy web:80
  }
}
